{
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@font-face{
		font-family: "JosefinSans";
		src: url('../font/JosefinSans-Light.ttf');
	}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
   /* background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;*/
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.header{
	position: fixed;
	width:100%;
	border-bottom: solid 1px black;
	top:0;
	right: 0;
	left: 0;
	z-index: 999;
}

.blur{	
	position: relative;		
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: white;
}


.logoDiv{
	text-align: center;
}

.logo{
	margin: 0 auto;
	height: 40px;
	
}

.logoMenu{
	
}

/*#menu{
	background-image: url(../img/menu.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	position: absolute;
	margin-top: 6px;
	margin-left: 15px;
}

.menu{
	background-color:#272727;
	display: none;
	position: absolute;
	top:0;
	left:0;
	width:80%;
	color:#9E9E9E;
	z-index: 99999;
	text-decoration: none;
	height: 100%;
	font-family: "JosefinSans";
}

ul{
	padding-left: 0px;
}

li{
	padding: 20px 0px 20px 20px;
	border-bottom: 1px solid #A8A8A8;
}

a{
	text-decoration: none;
	color: white;
}*/
.liMenu{
	list-style-type: none;
}

.products{
	background-image: url(../img/iconProduct.png);
	background-size: 16px 16px;
	background-repeat: no-repeat;
	padding-left: 30px;
}

.contact{
	background-image: url(../img/contact.png);
	background-size: 16px 16px;
	background-repeat: no-repeat;
	padding-left: 30px;	
}

.aboutUs{
	background-image: url(../img/iconAboutUs.png);
	background-size: 16px 16px;
	background-repeat: no-repeat;
	padding-left: 30px;	
}

#closeMenu{
	background-image: url(../img/closeMenu.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	position: absolute;
	right: 20px;
}

.main{
	margin-top: 101px;
}

/*#imgProduct{
	background-image: url(../img/cube-de-savon-de-marseille-400g-olive-.jpg);	
	background-size: contain;
	background-repeat: no-repeat;
	width: 200px;
	height: 200px;
	
}*/

.imgProduct{
	width: 100%;
	height: 100%;
}

.infoText{
	font-size: 16px;
	text-align: center;
	margin-left: 15px;
	margin-right: 15px;
	font-family: "JosefinSans";
}

.headerimg{
	margin-top: 1px;
	border-bottom: solid 1px black;
}

.aboutimg{
	width: 100%;
	height: 100%;
}

.contentAbout{
	margin-top: 20px;
}
.contentContact{
	margin-top: 120px;
}

.aboutTitle{
	font-family: "JosefinSans";
	
}

.textAbout{
	margin: 20px;
}

.adress{
	text-align: center;
	margin-bottom: 40px;
	margin-top:30px;
}